=== Environment Verification ===
## Java Environment
```
openjdk version "17.0.13" 2024-10-15
OpenJDK Runtime Environment (build 17.0.13+11-Ubuntu-2ubuntu122.04)
OpenJDK 64-Bit Server VM (build 17.0.13+11-Ubuntu-2ubuntu122.04, mixed mode, sharing)
JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64
```
## Hadoop Environment
```
Hadoop 3.3.6
Source code repository https://github.com/apache/hadoop.git -r 1be78238728da9266a4f88195058f08fd012bf9c
Compiled by ubuntu on 2023-06-18T08:22Z
Compiled on platform linux-x86_64
Compiled with protoc 3.7.1
From source with checksum 5652179ad55f76cb287d9c633bb53bbd
This command was run using /home/ubuntu/qa/hadoop/share/hadoop/common/hadoop-common-3.3.6.jar
HADOOP_HOME=/home/ubuntu/qa/hadoop
HADOOP_CONF_DIR=/home/ubuntu/qa/hadoop/etc/hadoop
```
## Path Configuration
```
PATH=/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/usr/lib/jvm/java-17-openjdk-amd64/bin:/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/opt/.devin/package/custom_binaries:/home/ubuntu/.local/bin:/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:/home/ubuntu/.pyenv/shims:/home/ubuntu/.pyenv/bin:/opt/.devin/package/custom_binaries:/home/ubuntu/.nvm/versions/node/v22.11.0/bin:/home/ubuntu/.cargo/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/.local/share/coursier/bin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin:/home/ubuntu/qa/hadoop/bin:/home/ubuntu/qa/hadoop/sbin
```
## Service Status
```
36913 NameNode
37221 SecondaryNameNode
37048 DataNode
44185 Jps
```
